@font-face{
  font-family: 'InconsolataLight';
  src: local('InconsolataLight'), url(./fonts/Inconsolata-Light.ttf) format('trueType');
  font-weight: normal;
}

body {
  font-family: 'InconsolataLight', monospace;
  margin: 0;
  padding-top: 70px;
}

@media screen and (min-width: 768px) {
  body { padding-top: 100px; }
}