@font-face{
  font-family: 'InconsolataLight';
  src: local('InconsolataLight'), url(./fonts/Inconsolata-Light.ttf) format('trueType');
  font-weight: normal;
}

body {
  font-family: 'InconsolataLight', monospace;
  margin: 0;
  padding: 0;
}
